@use "../base/variables" as *;

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 4rem;

    @media (max-width: $bp-medium) {
        padding: 0 3rem;
    }

}

.container-padding {
    max-width: 150rem;
    padding: 0 14rem;
    margin: 0 auto;

    @media (max-width: $bp-medium) {
        padding: 0 3rem;
    }
}

