@use "../base/variables" as *;

.category {

    // header
    .category-header {
        position: relative;
        height: 45rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem;
        background-color: #fff;

        @media (max-width: $bp-medium) {
            height: 28rem;
            margin-bottom: 4rem;
        }

        .category-header-background {
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            border: none;
            bottom: 0;
            box-shadow: none;
            height: 100%;
            left: 0;
            margin: 0;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            opacity: .3;
        }
    }

    .category-header-content {
        position: relative;

        h1 {
            padding-top: 6rem;
            margin-bottom: 0;
        }
    }

    // footer
    .category-navigation {
        display: flex;
        padding-top: 10rem;

        @media (max-width: $bp-medium) {
            flex-direction: column;
            align-items: center;
            padding-top: 0;
        }

        a {
            font-size: $base-size;
            font-weight: bold;
            transition: $transition;

            @media (max-width: $bp-medium) {
                font-size: 2rem;
                padding: 1rem;
            }

            &:hover {
                color: $color-primary;
            }
        }

        .nav-right {
            margin-left: auto;

            @media (max-width: $bp-medium) {
                margin-left: unset;
            }
        }
    }
}