.error-404  {
    min-height: 100vh;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.single-post {
    padding-top: 10rem;
    min-height: 100vh;
}