@use "../base/variables" as *;

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-background {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        bottom: 0;
        box-shadow: none;
        height: 100%;
        left: 0;
        margin: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        opacity: .6;
    }

    .hero-content {
        text-align: center;
        position: relative;
        z-index: 1;

        .hero-subtitle, .hero-title {
            text-align: center;
        }

        .hero-title {
            max-width: 110rem;
            margin: 2rem auto;
        }

        .hero-subtitle {
            font-size: $smaller-size;
        }
    }

}