@use "../base/variables" as *;

.project {
    margin-bottom: 10rem;

    @media (max-width: $bp-medium) {
        border-bottom: 2px solid $color-dark;
        margin-bottom: 3rem
    }

    &:nth-of-type(even) {

        .project-video {
            order: -1;
        }

        .project-content {
            padding-left: 6rem;

            @media (max-width: $bp-medium) {
                padding-left: 0;
            }
        }
    }

    &:nth-of-type(odd) {

        .project-video {
            @media (max-width: $bp-medium) {
                order: -1;
            }
        }

        .project-content {
            padding-right: 6rem;

            @media (max-width: $bp-medium) {
                padding-right: 0;
            }
        }
    }

    .project-content {

        @media (max-width: $bp-medium) {
            order: -1;
        }

        .project-title {
            padding-top: 3rem;
            padding-bottom: 0;
            margin-bottom: 1rem;
            border-top: 2px solid $color-dark;

            @media (max-width: $bp-medium) {
                border: none;
                padding-top: 0;
            }
        }

        .project-desc {
            p {
                font-size: $smaller-size;
                line-height: 1.2;
            }
        }

        .project-info {
            li {
                font-size: $smaller-size;
                padding-bottom: 1rem;

                strong {
                    margin-right: .5rem;
                }
            }
        }
    }
    .project-video {
        video {
            width: 100%;
            height: auto;
        }
    }

    .video-slider {
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: 3rem;

        .video-slider-item {
            padding: 1rem;
        }
    }

    .video-slider-single {
        .slick-list {
            padding-bottom: 9rem;

            @media (max-width: $bp-medium) {
                padding-bottom: 9rem;
            }
        }
    }
}

.project-content-wide {
    &.project-content {
        padding-left: 1rem !important;

        @media (max-width: $bp-medium) {
            padding-left: 0 !important;
        }
    }

    & + .project-video {
        order: 1 !important;
    }
}